body {
    background: #1d212a;
    font-family: 'Open Sans', sans-serif;
}
#wrapper{
    height: 100%;
}
#wrapper .logo{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #B3B8C3;
    text-decoration: none;
    display: block;
}
#wrapper .logo:hover{
    color: #fff;
}
#wrapper .logo img{
    vertical-align: top;
    margin-right: 8px;
}

/* Замена .panel-heading на .card-header */
#wrapper .card-header{
    font-size: 24px;
    color: #777;
    background: transparent;
    border-bottom: none;
    padding: 20px 20px 0;
}

#wrapper .vertical-align-parent {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

#wrapper .card {
    border-radius: 0;
    border: none;
}
#wrapper .card-body {
    padding: 15px 20px;
}

#wrapper .btn-primary, #wrapper .btn-primary:focus, #wrapper .btn-primary:active {
    background: #27b6af !important;
    border-radius: 0;
    border: none !important;
}
#wrapper .btn-primary:hover{
    background: #289f98 !important;
}
#wrapper .form-control{
    border-radius: 0;
}