#cherryii-navbar {
    font-family: 'Open Sans', sans-serif !important;
}
#cherryii-navbar .navbar-nav .nav-item:first-child {
    border-right: 1px solid #333;
}
#cherryii-navbar .navbar-text{
    color: #B3B8C3;
    font-size: 14px;
}
#cherryii-navbar .switcher{
    display: inline-flex;
    align-items: center;
    border: none;
    background: #b3b8c3;
    height: 20px;
    min-width: 40px;
    border-radius: 10px;
    padding: 1px;
}
#cherryii-navbar .switcher.is-active{
    background: #27b6af;
}

.cherryiicms-edit{
    position: relative;
    display: inline-block;
}
.cherryiicms-goedit{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.cherryiicms-goedit:hover{
    border: 1px solid #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.5);
    background-color: rgba(13, 110, 253, 0.1);
}